.grid-item {
    overflow: hidden;
    display: grid;

    .enter-icon,
    .info-icon,
    .exit-icon {
        
        &:hover {
            cursor: pointer;
        }
    }

    .grid-item-icon {
        width: 2.4rem;

        @media screen and (min-width: 481px) {width: 2.7rem;}
        @media screen and (min-width: 721px) {width: 2.4rem;}
        @media screen and (min-width: 961px) {width: 2.7rem;}
        @media screen and (min-width: 1201px) {width: 2.4rem;}
        @media screen and (min-width: 1441px) {width: 2.7rem;}
        @media screen and (min-width: 1681px) {width: 2.4rem;}
        @media screen and (min-width: 1921px) {width: 2.7rem;}
        @media screen and (min-width: 2161px) {width: 3.0rem;}
        @media screen and (min-width: 2401px) {width: 3.3rem;}
        @media screen and (min-width: 2641px) {width: 3.6rem;}
        @media screen and (min-width: 2881px) {width: 3.9rem;}
        @media screen and (min-width: 3121px) {width: 4.2rem;}
        @media screen and (min-width: 3361px) {width: 4.5rem;}
        @media screen and (min-width: 3601px) {width: 4.8rem;}

        &.enter  {
            justify-self: end;
            color: rgba(237, 237, 237, 1);
            filter: drop-shadow(0px 0px .3rem rgba(18, 18, 18, 1));

            margin: 1.8rem;

            @media screen and (min-width: 481px) {margin: 2.1rem;}
            @media screen and (min-width: 721px) {margin: 1.8rem;}
            @media screen and (min-width: 961px) {margin: 2.1rem;}
            @media screen and (min-width: 1201px) {margin: 1.8rem;}
            @media screen and (min-width: 1441px) {margin: 2.1rem;}
            @media screen and (min-width: 1681px) {margin: 1.8rem;}
            @media screen and (min-width: 1921px) {margin: 2.025rem;}
            @media screen and (min-width: 2161px) {margin: 2.25rem;}
            @media screen and (min-width: 2401px) {margin: 2.475rem;}
            @media screen and (min-width: 2641px) {margin: 2.7rem;}
            @media screen and (min-width: 2881px) {margin: 2.925rem;}
            @media screen and (min-width: 3121px) {margin: 3.15rem;}
            @media screen and (min-width: 3361px) {margin: 3.375rem;}
            @media screen and (min-width: 3601px) {margin: 3.6rem;}

            .enter-icon {
                transform: rotate(45deg);
            }
        }
    }

    .grid-item-overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(237, 237, 237, .67);
        color: rgba(18, 18, 18, 1);
        transform: translateY(-101%); // extra 1 percent to hide entire container on some browsers
        transition: transform .5s ease;
        overflow: hidden;

        padding: 1.8rem;

        @media screen and (min-width: 481px) {padding: 2.1rem;}
        @media screen and (min-width: 721px) {padding: 1.8rem;}
        @media screen and (min-width: 961px) {padding: 2.1rem;}
        @media screen and (min-width: 1201px) {padding: 1.8rem;}
        @media screen and (min-width: 1441px) {padding: 2.1rem;}
        @media screen and (min-width: 1681px) {padding: 1.8rem;}
        @media screen and (min-width: 1921px) {padding: 2.025rem;}
        @media screen and (min-width: 2161px) {padding: 2.25rem;}
        @media screen and (min-width: 2401px) {padding: 2.475rem;}
        @media screen and (min-width: 2641px) {padding: 2.7rem;}
        @media screen and (min-width: 2881px) {padding: 2.925rem;}
        @media screen and (min-width: 3121px) {padding: 3.15rem;}
        @media screen and (min-width: 3361px) {padding: 3.375rem;}
        @media screen and (min-width: 3601px) {padding: 3.6rem;}

        .grid-item-top-row {
            display: flex;
            justify-content: space-between;
        }

        .grid-item-title {
            font-weight: 600;

            font-size: 1.8rem;

            @media screen and (min-width: 481px) {font-size: 2.1rem;}
            @media screen and (min-width: 721px) {font-size: 1.8rem;}
            @media screen and (min-width: 961px) {font-size: 2.1rem;}
            @media screen and (min-width: 1201px) {font-size: 1.8rem;}
            @media screen and (min-width: 1441px) {font-size: 2.1rem;}
            @media screen and (min-width: 1681px) {font-size: 1.8rem;}
            @media screen and (min-width: 1921px) {font-size: 2.025rem;}
            @media screen and (min-width: 2161px) {font-size: 2.25rem;}
            @media screen and (min-width: 2401px) {font-size: 2.475rem;}
            @media screen and (min-width: 2641px) {font-size: 2.7rem;}
            @media screen and (min-width: 2881px) {font-size: 2.925rem;}
            @media screen and (min-width: 3121px) {font-size: 3.15rem;}
            @media screen and (min-width: 3361px) {font-size: 3.375rem;}
            @media screen and (min-width: 3601px) {font-size: 3.6rem;}
        }     
    }

    .image {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        width: 100%;
    }

    .details-background {
        background-color: rgba(18, 18, 18, .6);
        position: fixed;
        inset: 0;
        z-index: 1;
        display: flex;
        justify-content: center;

        align-items: stretch;

        @media screen and (min-width: 961px) and (min-height: 481px) {align-items: center;}

        &.open-details {

        }

        &.close-details {
            display: none;
        }

        .details-container {
            display: flex;
            overflow: hidden;
            width: 100%;
            max-height: 100%;
            flex-direction: column;

            @media screen and (min-height: 481px) {}
            @media screen and (min-width: 961px) and (min-height: 0px) {flex-direction: row; max-width: 1441px;}
            @media screen and (min-width: 961px) and (min-height: 481px) {max-width: none; flex-direction: row; width: 80%; aspect-ratio: 16 / 9; align-content: center; justify-content: center;}
            @media screen and (min-width: 1201px) and (min-height: 481px) {width: 80%;}
            @media screen and (min-width: 1441px) and (min-height: 481px) {width: 65%;}
            @media screen and (min-width: 1681px) and (min-height: 481px) {width: 50%;}
            @media screen and (min-width: 1921px) and (min-height: 481px) {}
            @media screen and (min-width: 2161px) and (min-height: 481px) {}
            @media screen and (min-width: 2401px) and (min-height: 481px) {}
            @media screen and (min-width: 2641px) and (min-height: 481px) {}
            @media screen and (min-width: 2881px) and (min-height: 481px) {}
            @media screen and (min-width: 3121px) and (min-height: 481px) {}
            @media screen and (min-width: 3361px) and (min-height: 481px) {}
            @media screen and (min-width: 3601px) and (min-height: 481px) {}

            .image-container {
                width: 100%;
                height: 0%;

                @media screen and (min-height: 481px) {width: 100%; height: 50%;}
                @media screen and (min-width: 961px) and (min-height: 0px) {width: 50%; height: 100%;}
                @media screen and (min-width: 961px) and (min-height: 481px) {width: 50%; height: auto;}
                

                .image-box{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .description-container {
                background-color: rgba(18, 18, 18, 1);
                color: rgba(199, 199, 199, 1);
                display: flex;
                flex-direction: column;

                height: 100%;
                padding: 0 3rem 3rem 0;

                @media screen and (min-height: 481px) {height: 50%;}
                @media screen and (min-width: 721px) {}
                @media screen and (min-width: 961px) and (min-height: 0px) {width: 50%; height: 100%;}
                @media screen and (min-width: 961px) and (min-height: 481px) {width: 50%; height: auto;}
                @media screen and (min-width: 1201px) {}
                @media screen and (min-width: 1441px) {}
                @media screen and (min-width: 1681px) {}
                @media screen and (min-width: 1921px) {padding: 0 3.375rem 3.375rem 0;}
                @media screen and (min-width: 2161px) {padding: 0 3.75rem 3.75rem 0;}
                @media screen and (min-width: 2401px) {padding: 0 4.125rem 4.125rem 0;}
                @media screen and (min-width: 2641px) {padding: 0 4.5rem 4.5rem 0;}
                @media screen and (min-width: 2881px) {padding: 0 4.875rem 4.875rem 0;}
                @media screen and (min-width: 3121px) {padding: 0 5.25rem 5.25rem 0;}
                @media screen and (min-width: 3361px) {padding: 0 5.625rem 5.625rem 0;}
                @media screen and (min-width: 3601px) {padding: 0 6rem 6rem 0;}
                
                .description-header {
                    display: flex;
                    justify-content: space-between;

                    padding: 3rem 0 3rem 3rem;

                    @media screen and (min-width: 1921px) {padding: 3.375rem 0 3.375rem 3.375rem;}
                    @media screen and (min-width: 2161px) {padding: 3.75rem 0 3.75rem 3.75rem;}
                    @media screen and (min-width: 2401px) {padding: 4.125rem 0 4.125rem 4.125rem;}
                    @media screen and (min-width: 2641px) {padding: 4.5rem 0 4.5rem 4.5rem;}
                    @media screen and (min-width: 2881px) {padding: 4.875rem 0 4.875rem 4.875rem;}
                    @media screen and (min-width: 3121px) {padding: 5.25rem 0 5.25rem 5.25rem;}
                    @media screen and (min-width: 3361px) {padding: 5.625rem 0 5.625rem 5.625rem;}
                    @media screen and (min-width: 3601px) {padding: 6rem 0 6rem 6rem;}

                    .description-title {
                        font-weight: 500;

                        font-size: 1.8rem;

                        @media screen and (min-width: 1921px) {font-size: 2.025rem;}
                        @media screen and (min-width: 2161px) {font-size: 2.25rem;}
                        @media screen and (min-width: 2401px) {font-size: 2.475rem;}
                        @media screen and (min-width: 2641px) {font-size: 2.7rem;}
                        @media screen and (min-width: 2881px) {font-size: 2.925rem;}
                        @media screen and (min-width: 3121px) {font-size: 3.15rem;}
                        @media screen and (min-width: 3361px) {font-size: 3.375rem;}
                        @media screen and (min-width: 3601px) {font-size: 3.6rem;}
                    }

                    .exit {
                        flex-shrink: 0;

                        margin-left: 1.8rem;

                        @media screen and (min-width: 1921px) {margin-left: 2.025rem;}
                        @media screen and (min-width: 2161px) {margin-left: 2.25rem;}
                        @media screen and (min-width: 2401px) {margin-left: 2.475rem;}
                        @media screen and (min-width: 2641px) {margin-left: 2.7rem;}
                        @media screen and (min-width: 2881px) {margin-left: 2.925rem;}
                        @media screen and (min-width: 3121px) {margin-left: 3.15rem;}
                        @media screen and (min-width: 3361px) {margin-left: 3.375rem;}
                        @media screen and (min-width: 3601px) {margin-left: 3.6rem;}
                    }
                }

                .description-text-container {
                    overflow-y: auto;
                    
                    padding: 0 3.0rem 0;

                    @media screen and (min-width: 1921px) {padding: 0 3.375rem 0;}
                    @media screen and (min-width: 2161px) {padding: 0 3.75rem 0;}
                    @media screen and (min-width: 2401px) {padding: 0 4.125rem 0;}
                    @media screen and (min-width: 2641px) {padding: 0 4.5rem 0;}
                    @media screen and (min-width: 2881px) {padding: 0 4.875rem 0;}
                    @media screen and (min-width: 3121px) {padding: 0 5.25rem 0;}
                    @media screen and (min-width: 3361px) {padding: 0 5.625rem 0;}
                    @media screen and (min-width: 3601px) {padding: 0 6rem 0;}

                    .description-text {
                        display: inline-block;
                        line-height: 1.75;
                        font-weight: 300;
                        word-break: break-word;
                    
                        font-size: 1.5rem;
                    
                        @media screen and (min-width: 1921px) {font-size: 1.6875rem;}
                        @media screen and (min-width: 2161px) {font-size: 1.875rem;}
                        @media screen and (min-width: 2401px) {font-size: 2.0625rem;}
                        @media screen and (min-width: 2641px) {font-size: 2.25rem;}
                        @media screen and (min-width: 2881px) {font-size: 2.4375rem;}
                        @media screen and (min-width: 3121px) {font-size: 2.625rem;}
                        @media screen and (min-width: 3361px) {font-size: 2.8125rem;}
                        @media screen and (min-width: 3601px) {font-size: 3rem;}
                    }
                }
            }
        }
    }
    
    .image, .grid-item-icon, .grid-item-overlay {
        grid-area: 1/-1;
    }
}

@media (hover: hover) and (pointer: fine) {

    .grid-item {

        .enter {
            opacity: 0;
            transition: opacity .2s ease;
        }
        
        &:hover {
            
            .enter {
                opacity: 1;
                transition: opacity .2s ease;
            }
        }
    }
}

/* Conditionally rendered CSS */

.grid-item {

    &.open {

        .grid-item-overlay {
            transform: translateY(0%);
        }
    }
}

.grid-item {

    &.closed {

        .grid-item-overlay {
            transform: translateY(-101%);
        }
    }
}