.image-grid {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    
    @media screen and (min-width: 481px) {grid-template-columns: repeat(1, 1fr);}
    @media screen and (min-width: 721px) {grid-template-columns: repeat(2, 1fr);}
    @media screen and (min-width: 961px) {grid-template-columns: repeat(2, 1fr);}
    @media screen and (min-width: 1201px) {grid-template-columns: repeat(3, 1fr);}
    @media screen and (min-width: 1441px) {grid-template-columns: repeat(3, 1fr);}
    @media screen and (min-width: 1681px) {grid-template-columns: repeat(4, 1fr);}
}

