body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-SemiBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
}